* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
    background: #000;
    color: aliceblue;
    overflow: hidden;
}
main{
    height: 100%;
    width: 100%;
 
   
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}

button{
    padding: 15px 30px;
    font-weight: 600;
    font-size: 20px;
    background: crimson;
    border: none;
    cursor: pointer;
    border-radius:5px ;
     color: white;
     position: relative;
     z-index: 4;
}
button:active{
    scale: 0.95;;
}
h1{
 
    color: antiquewhite;
    white-space: nowrap;
}